<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <h1>Kraak de geheime code om verder te gaan</h1>
  <input type="password" id="code"></input>
  <button id="button" onclick="myFunction()">Probeer de code</button>
  <p id="errorcode"></p>
  <script>
	function myFunction() 
	{ 
		if(document.getElementById("code").value == "Potjandorie")
		{
			document.write("<b>holy moly je hebt zojuist het meest beveiligde security systeem gekraakt,</b> <br> " +
			"het was door de geweldige dennis roelvink gemaakt! <br>" +
			"Laten we het nu even hebben over smellimel, <br>" +
			"Want dat kunnen we zeker wel! <br>" +
			"Melissa heeft misschen wel dikke sjans, <br>" +
			"Met visboy of de patatboy, wat een kans! <br>" +
			"dan nu even praten over die gekke cadeaus, <br>" +
			"want die zijn echt super awesome en grandioos! <br>" +
			"melissa houdt van het tekenen met papier en potlood, <br>" + 
			"en het liefst eentje met een gum, voor wanneer je het verkloot. <br>" +
			"wellicht is er nog meer te vinden in de vorm van een pakje, <br>" +
			"dus beter beginnen met zoeken, jij maniakje ( ͡° ͜ʖ ͡°) <br>" + 
			"<img src='https://img.buzzfeed.com/buzzfeed-static/static/2014-04/enhanced/webdr06/18/11/original-14726-1397834563-17.jpg?downsize=715:*&output-format=auto&output-quality=auto'>"
			);
		} else if(document.getElementById("code").value == "NEGERMAAN") {
			document.getElementById("errorcode").innerHTML = "Je hebt de eerste code ontrafeld, nu de tweede nog, deze moet je vinden! <br><br" +
			"Hint voor 1e clue: Deze persoon is erg klein, en is nogal gestrest tijdens kerst <br>" +
			"Hint voor 2e clue: Deze persoon kijkt erg boos nadat je een Escape room gewonnen hebt <br>" + 
			"Hint voor 3e clue: Deze persoon heeft dit gedicht gemaakt <br>" + 
			"Hint voor 4e clue: Deze persoon werkt bij de kinderboerderij <br>";
			;
		} else {
			//var para = document.getElementById("errorcode");
			document.getElementById("errorcode").innerHTML = "Hahaaa! dat was verkeerd noob ( ͡° ͜ʖ ͡°)";
			//var text = document.createTextNode("Hahaaa! dat was verkeerd noob ( ͡° ͜ʖ ͡°)");
			//para.appendChild(text);
		};
	};
	</script>
</body>
</html>
